@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/LayoutForm.css" rel="stylesheet" />




<div id="wrapper">

    <div id="contentwrap">
        <div id="content">
            <div class="item-page">

                <p><img src="~/Images/HomePic.png" border="0" width="206" height="340" style="float: left; padding-right: 10px;" /></p>
                <p style="text-align: justify;">The history of the philosophy of law can be traced as far back as the ancient world. The first sources date back to six thousand years ago in the lands of ancient Akkad and Sumer in the lands between the Tigris–Euphrates through ancient Babylon, Egypt, India and China.<br />Especially popular in ancient Greece is the myth of the "golden age" when the gods lived among men. It was believed that the gods established laws to be respected by people. Special goddesses of law appeared in Greece - Diké (Justice) and Eunomia (Good Order), who were daughters of Zeus and Themis. Themis remains to this day a symbol of justice.<br />The Roman Empire laid the foundations of modern law. Cicero speaks of public law, private law, even international relations.<br />Cicero’s statement: "The fairer a law is, the more valid" is still meaningful today, 1900 years later.</p>

            </div>
        </div>
    </div>
</div>

