@{
    //ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutDE.cshtml";
}



<div id="wrapper">
    <div id="contentwrap">
        <div id="content">
            <div class="item-page">

                <h1><b>Profil</b></h1>

                @*<div class="picture-size">*@

                    <p><img src="~/Images/LawyerAtanasova.jpg" /></p>

                @*</div>*@

                    <p style="text-align: justify;"><strong>Ausbildung</strong><br /><br />       Universität Veliko Tarnovo "St. St. Kiril und Methodii", Bulgarien, Rechtswissenschaftliche Fakultät, Spezialfach „RECHTSWISSENSCHAFT“ - 2002.<br />       Universität Wien, Rechtswissenschaftliche Fakultät, Europäisches- und Internationales Wirtschaftsrecht, absolvierte mit einer Master Thesis über "Grundprinzipien des europäisches Kartellrechts und deren Auswirkungen auf Geschäftstätigkeit von Unternehmen in Österreich und Bulgarien" - 2012<br /><br />Eintragung in Rechtsanwaltskammer Sofia – 2002<br />Gründung der Gesellschaft für Rechtsberatung „Realex“ GmbH – 2007<br /><br /><strong>Sprachen</strong><br />Bulgarisch<br />Deutsch - DSH Zertifikat von Universität Tübingen, Deutschland<br />English – Zertifikat von Victoria Universität, London, England<br /><br /> </p>

            </div>
        </div>
    </div>
</div>


