@{
    //ViewBag.Title = "Rechtsgebiete";
    Layout = "~/Views/Shared/_LayoutDE.cshtml";
}

<div id="wrapper">
    <div id="contentwrap">
        <div id="content">
            <div class="item-page">

                <p><img src="~/Images/services.jpg" border="0" width="206" height="206" style="float: left; padding-right: 10px;" /></p>
                <h1><b>Rechtsbereich</b></h1>

                <p style="text-align: justify;">

                    Korporativrecht – Gesellschaftgründung, durch Änderungen bis Auflösung der Gesellschaft; Geschäfte<br>
                    Streitbeilegung – Außergerichtlich durch Verhandlungen und im Gerichtswege;<br>
                    Urteilvollstreckungsverfahren<br>
                    Arbeitsrecht Kartellrecht Immobilien – von Untersuchung der Geschichte und Dokumentation,<br>
                    durch Führung der Verhandlungen bis zum Organisation und Abschluss des Geschäfts<br>
                </p>

            </div>
        </div>
    </div>
</div>

