@{
    //ViewBag.Title = "TermsOfUseBG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="contentwrap">
        <div id="content">
            <div class="contact">
                <h2>
                    <span class="contact-name"><b>Общи условия</b></span>
                </h2>
                <br>
                <li>
                    Авторски права
                    <article>

                        Всички елементи на съдържанието на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>,
                        включително дизайн, софтуерни програми, текст, рисунки, графики, скици и друга информация или елементи,
                        представляват обект на авторско право по смисъла на Закона за авторското право и сродните му права
                        и са притежание на собствениците на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        и неговите партньори, предоставили съответната информация, като нерегламентираното им използване представлява закононарушение
                        и води до гражданска, административнонаказателна и наказателна отговорност в съответствие с действащото
                        българско законодателство.

                    </article>
                    <article>

                        Всяко неразрешено ползване, възпроизвеждане, промяна, публичен показ и др. на част или цялото съдържание
                        на сайта без писмено разрешение на собствениците на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        и/или неговите партньори е забранено и ще се преследва по предвидения от закона ред.
                        Допуска се публикуване на текстови материали само след писмено съгласие на
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        посочване на източника и добавяне на линк
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>

                    </article>
                </li>
                <br>
                <li>
                    Потребители
                    <article>

                        Чрез достъпа до (зареждането) на интернет страницата на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        всеки потребител е длъжен да се запознае с настоящите Правила за ползване на сайта,
                        като при прочитането и запознаването с тях, той удостоверява, че при следващо ползване
                        (зареждане на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>) той е съгласен с тях.
                        Всеки потребител има правото да използва услугите на сайта единствено за лични/нетърговски цели,
                        като се съгласява, че информацията, публикувана на сайта <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        не може да бъде причина за предявяване на негови искове към <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>и неговите собственици.

                    </article>
                </li>
                <br>
                <li>
                    Отговорност
                    <article>

                        Пълната информация на сайта се предоставя в съответствие с действащото българско законодателство,
                        като нейната ненакърнимост и безопасност от злонамерени атаки на трети лица не е гарантирана от
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        не носи отговорност за последиците, в т.ч. евентуални искове и вреди, породени от или свързани по какъвто
                        и да е начин с достъпа, употребата или невъзможността за употреба на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.

                    </article>
                    <article>

                        Всяко неразрешено ползване, възпроизвеждане, промяна, публичен показ и др. на част или цялото съдържание
                        на сайта без писмено разрешение на собствениците на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        и/или неговите партньори е забранено и ще се преследва по предвидения от закона ред.
                        Допуска се публикуване на текстови материали само след писмено съгласие на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        посочване на източника и добавяне на линк <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.

                    </article>
                </li>
                <br>
                <li>
                    Общи разпоредби
                    <article>

                        Настоящите общи условия имат обвързващо действие само в отношенията между всеки потребител на сайта
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        и информацията и услугите, публикувани в него. Всеки потребител има правото да използва информацията на сайта
                        единствено за лични/нетърговски цели. Тези общи условия представляват договореност (ДОГОВОР) между всеки потребител
                        на сайта <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>,
                        с който получавате правото да използвате безплатно сайта за лични и нетърговски цели при спазване на условията,
                        описани в настоящите правила. Чрез достъпа до (зареждането) на интернет страницата всеки потребител
                        се съгласява да бъде обвързан от настоящите общи условия и всички последващи промени в тях,
                        като се задължава да ги спазва. В случай че потребител на <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        не е съгласен с всички общи условия за ползване, то би следвало този потребител да не използва сайта за никакви цели.

                    </article>
                </li>
            </div>
        </div>
    </div>
</div>


