@{
    //ViewBag.Title = "TermsOfUseDE";
    Layout = "~/Views/Shared/_LayoutDE.cshtml";
}

<div id="wrapper">
    <div id="contentwrap">
        <div id="content">
            <div class="contact">
                <h2>
                    <span class="contact-name"><b>General Terms</b></span>
                </h2>
                <br>
                <li>
                    Copyright
                    <article>
                        All content elements of <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a> ,
                        including design, software, text, drawings, graphics, drawings and other information or elements
                        They are subject to copyright under the Law on Copyright and Related Rights
                        and are owned by the owners of <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        and its partners, provided the relevant information, its unauthorized use constitutes wrongdoing
                        and leads to civil, administrative and criminal liability in accordance with the
                        Bulgarian legislation.
                    </article>
                    <br>
                    <article>
                        Any unauthorized use, reproduction, modification , public display and others . part or all content
                        Site without the written permission of the owners of <a href="#" title="www-dev.atanasova-lawyer.name">www-dev.atanasova-lawyer.name</a>
                        and / or its partners is prohibited and will be prosecuted as provided by law.
                        Publishing of text materials only after written consent of
                        <a href="#" title="www-dev.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        the source and add a link <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                    </article>
                </li>
                <br>
                <li>
                    Users
                    <article>
                        By accessing (loading) on ​​the website of <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        each user must be familiar with these Terms of Use,
                        while reading and getting to know them, he certifies that the next use
                        (loading <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        he agrees with them.
                        Each user has the right to use the services of the site only for personal / non-commercial purposes
                        while agreeing that the information published on the website
                        <a href="#" title="www-dev.atanasova-lawyer.name">www-dev.atanasova-lawyer.name</a>,
                        can not be a reason for bringing his claims to  <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>and its owners.
                    </article>
                </li>
                <br>
                <li>
                    Responsibility
                    <article>
                        Complete information on the site is provided in compliance with the Bulgarian legislation ,
                        as its inviolability and security from malicious attacks by third parties is not guaranteed by
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        is not responsible for the consequences, including possible claims and damages arising from or connected in any
                        way to access, use or inability to use the
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a> .
                    </article>
                    <article>
                        Any unauthorized use, reproduction, modification , public display and others . part or all content
                        Site without the written permission of the owners of
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        and / or its partners is prohibited and will be prosecuted as provided by law.
                        Publishing of text materials only after written consent of
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        the source and add a link <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.
                    </article>
                </li>
                <br>
                <li>
                    General Provisions
                    <article>
                        These terms and conditions are binding only in the relationship between any user of the site
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>.
                        These terms and conditions are binding only in the relationship between any user of the site
                        <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        and information and services , published in it. Each user has the right to use information on the site
                        only for personal / non-commercial purposes. These terms and conditions constitute an agreement
                        (contract) between any user of the site and  <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>,
                        which you are entitled to free use of the site for personal and non-commercial purposes subject to conditions
                        described in these rules. By accessing (loading) on ​​the website each user
                        agrees to be bound by these terms and conditions and any subsequent changes there to,
                        undertaking to comply with them. If the user of <a href="#" title="www.atanasova-lawyer.name">www.atanasova-lawyer.name</a>
                        does not agree with all the terms of use, then this person should not use the site for any purpose.
                    </article>

                </li>
            </div>
        </div>
    </div>
</div>
