@{
    //ViewBag.Title = "Начало";
    Layout = "~/Views/Shared/_LayoutBG.cshtml";
}

<div id="contentwrap">
    <div id="content">
        <div class="item-page">

            <p><img src="~/Images/HomePic.png" border="0" width="206" height="340" style="float: left; padding-right: 10px;" /></p>
            <p style="text-align: justify;">

                       Философията на правото започва своята история още в древния свят.
                <br /> Първите открити източници датират от преди 6 хилядолетия в земите на древен Акат и Шумер, в земите между Тигър и Ефрат, през древен
                <br /> Вавилон, Египет, Индия и Китай. Особено популярен в древна Гърция е мита за “златния век”, когато боговете са живели сред хората.
                Вярвало се, че боговете установяват законите, които трябва да се спазват от хората.
                В Гърция се появяват специални богини на правото – Дике (Справедливост) и Евтимия (Благозаконие), които са били  дъщери на Зевс и Темида.
                Темида остава и до днес символ на правораздаването. Римската империя е поставя основите на  съвременното право.
                Цицерон говори за публично право, за частно право, дори за международни отношения.<br />
                Мисълта на Цицерон: „Един закон е толкова по-валиден, колкото е<br /> по-справедлив” е изпълнен със съдържание и днес, 1900 години по –<br /> късно.

            </p>

        </div>
    </div>
</div>

