
@{
    //ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_LayoutBG.cshtml";
}

<div id="wrapper">
    <div id="contentwrap">
        <div id="content">
            <div class="item-page">

                <p><img src="~/Images/services.jpg" border="0" width="206" height="206" style="float: left; padding-right: 10px;" /></p>
                <h1><b>Сфера на практика</b></h1>
                <p style="text-align: justify;">    Корпоративно право – фирмени регистрации, промени до прекратяване; сделки<br />Уреждане на спорове – извънсъдебно чрез водене на преговори и по съдебен ред; производства по принудително изпълнение<br />Трудово право<br />Картелно право<br />Имоти – от проучване на история и документация, през водене на преговори до организацията и приключването на окончателна сделка</p>

            </div>
        </div>
    </div>
</div>

